<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">

        <article data-words="{{ content | number_of_words }}">
          <h1 class="title is-2 is-family-secondary">{{ page.title }}</h1>
          {% unless page.subtitle == null %}
          <h2 class="subtitle is-4">{{ page.subtitle }}</h2>
          {% endunless %}
          <time class="is-size-7 has-text-black" datetime="{{ page.date | date_to_xmlschema }}"><em>{{ page.date | date: "%e %b" | append: " -" }}</em></time>

          {% assign postcontent = content %}
          {% capture readingtime %}{% include themes/jmblog-theme/components/reading-time.html %}{% endcapture %}
          {% if readingtime.size > 1 %}
          <span class="is-size-7 has-text-black">{{ readingtime | strip }}</span>
          {% endif %}

          {% include themes/jmblog-theme/components/share_buttons.html %}

          <figure class="image is-3by2">
            <img 
              data-src="{{ page.image.path }}"
              src="/assets/img/ph.png"
              alt="Image by {{ page.image.author }} from {{ page.image.source }}" 
              loading="lazy"
              class="lazyload blur-up">
          </figure>
          <span class="is-size-7 mb-5 is-block">Image by <a href="{{ page.image.url }}">{{ page.image.author }}</a> from <a href="{{ page.image.url }}">{{ page.image.source }}</a></span>
          
          <div class="content is-double-spaced is-size-5 is-family-secondary">
            {{content}}
          </div>

          {%- comment -%} <pre>{{ page | inspect }}</pre> {%- endcomment -%}
        </article>
        
        <hr>
        <h4 class="title is-6">The Author</h4>
    
        <hr>

        
        {% include themes/jmblog-theme/components/comments.html %}





      </div>
    </div>
  </div>
</section>

<!-- lazzy -->
{% include themes/jmblog-theme/components/lazyload.html %}
<!-- lazzy -->