<!DOCTYPE html>
<html>
  <head>
    {% include themes/jmblog-theme/components/head.html %}

    <style>
      <%= compilation.assets[(htmlWebpackPlugin.files.css[0]).replace(/^\//, "")].source() %>
    </style>


    <% 
    _.forEach(htmlWebpackPlugin.tags.headTags, function (tag) {
      // exclude inlined critical tags
      let src_check = tag.attributes.src || tag.attributes.href;
      if (src_check.match(/critical/i)) { return; }

      let attrs = new Array(), tagOutput
      _.forEach(tag.attributes, function (attrVal, attrName) {
          // set defer tag
          if (attrName == "defer") {
              attrVal = "defer";

          }

          attrs.push(`${ attrName }="${ attrVal }"`);
      });

      // Build tag
      tagOutput = `<${ tag.tagName } ${_.join(attrs, " ")}>`;
      if (!tag.voidTag) { tagOutput += `</${ tag.tagName }>` }
      print(tagOutput);
    })
    %>

    <!-- #yeww
    <%= JSON.stringify(htmlWebpackPlugin.tags.headTags) %>
    -->
  </head>
  <body id="jmoxon">
    {% include themes/jmblog-theme/components/analytics/googletagmanager_body.html %}
  <!-- Header section -->
  <header>
    <section class="section">
      {% comment %} <div class="hero-body"> {% endcomment %}
        <div class="container has-text-centered">
          <h2 class="subtitle is-size-4 is-size-6-mobile is-spaced is-uppercase">{{ site.tagline | default: "Set a site level variable called 'tagline'" }}</h2>
          <h1 class="title is-size-1 is-size-2-mobile has-text-black is-family-secondary"><a href="/" class="has-text-black">{{ site.title }}</a></h1>
        </div>
      {% comment %} </div> {% endcomment %}
    </section>
  </header>

  {% include themes/jmblog-theme/components/navigation.html %}

  {{ content }}

  {% include themes/jmblog-theme/components/footer.html %}

  <!-- Include dataLayer -->
  <!-- {% include dataLayer/dataLayer %} -->


   <%= htmlWebpackPlugin.tags.bodyTags %>

  </body>
</html>