{% if page.author != null %}
{% assign author = site.authors | find: "name", page.author | first %}
{% comment %} page author is not null {% endcomment %}
{% else %}
{% assign author = site.authors | find: "name", site.author | first %}
{% comment %} page author is null revert to {{ site.author }} {% endcomment %}
{% endif %}

<div>
	<figure class="image is-4by3 has-border-black mb-1">
		<img class="" 
			src="/assets/img/{{ author.image }}" 
			alt="{{ author.name }}">
	</figure>

	<p class="title is-5">{{ author.name }}</p>
	<p class="subtitle is-7">{{ author.position }}</p>

	{% unless include.show_summary == false %}
	<p class="is-7">{{ author.summary }}</p>
	{% endunless %}

	<div class="mt-2">
		{% include themes/jmblog-theme/components/social_buttons_small.html %}
	</div>
</div>