{% if page.author != null %}
{% assign author = site.authors | find: "name", page.author | first %}
{% comment %} page author is not null {% endcomment %}
{% else %}
{% assign author = site.authors | find: "name", site.author | first %}
{% comment %} page author is null revert to {{ site.author }} {% endcomment %}
{% endif %}
<span class="icon">
    <a href="https://www.linkedin.com/in/{{ author.social.linkedin }}">
    <i class="fab fa-linkedin-in has-text-black"></i>
    </a>
</span>
<span class="icon">
    <a href="https://twitter.com/{{ author.social.twitter }}">
    <i class="fab fa-twitter has-text-black"></i>
    </a>
</span>
<span class="icon">
    <a href="https://medium.com/{{ author.social.medium }}">
    <i class="fab fa-medium-m has-text-black"></i>
    </a>
</span>
<span class="icon">
    <a href="/feed.xml" class="RSS Feed">
    <i class="fas fa-rss has-text-black"></i>
    </a>
</span>
<span class="icon">
    <a href="javascript:void(0)" class="bookmark-this">
    <i class="far fa-bookmark has-text-black"></i>
    </a>
</span>